* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(82, 76, 76);
}

.topbar {
    background-color: black;
    color: #fff;
    height: 6vh;
    width: 100%;
    position: sticky;
    top: 0;
}

.container {
    width: 1000px !important;
}

#logoMarca{
    width: 50px;
}

#logoFooter {
    width: 70px;
}

footer {
    width: 100%;
    position: relative; /* Mantenha o footer no fluxo normal do documento */
}